<section id="original-index" style="display:none">
  <h1 style="text-decoration:underline">Movie List</h1>
  <% @movies.each do |movie| %>
    <h3><%= movie.title %></h3>
    <p>Released: <%= movie.released %></p>
    <p>Rating: <%= movie.rating %></p>
    <p>Sex: <%= movie.sex %></p>
    <p>Nudity: <%= movie.nudity %></p>
    <p>Violence: <%= movie.violence %></p>
    <br>
  <% end %>
</section>

<section id="index-adult-content">
  <h2 style="text-decoration:underline; margin-bottom: -10px">Movies that Contain Adult Content</h2>
  <br>
  <% @movies.adult_content.each do |movie| %>
    <h3 style="font-style:italic"><%= movie.title %></h3>
    <p style="margin-bottom: 5px">
      <%= "Released: #{movie.released}" %>&nbsp | &nbsp<%= "Rating: #{movie.rating}" %>
    </p>
  <% end %>
  <br>
</section>

<section id="index-violence">
  <h2 style="text-decoration:underline; margin-bottom: -10px">Movies that Contain Violence</h2>
  <br>
  <% @movies.violence.each do |movie| %>
    <h3 style="font-style:italic"><%= movie.title %></h3>
    <p style="margin-bottom: 5px">
      <%= "Released: #{movie.released}" %>&nbsp | &nbsp<%= "Rating: #{movie.rating}" %>
    </p>
  <% end %>
</section>