<h1><%= "#{@director.format_name} Movies" %></h1>
<%= link_to "Create Movie", "/directors/#{@director.id}/movies/new" %>
<%= link_to "Sort Movies", params: {:sort => "sort_alpha"} %>
<% @movies.each do |movie| %>
  <h3><%= movie.format_title %></h3>
  <p>Released: <%= movie.released %></p>
  <p>Rating: <%= movie.rating %></p>
  <p>Sex: <%= movie.sex %></p>
  <p>Nudity: <%= movie.nudity %></p>
  <p>Violence: <%= movie.violence %></p>
  <br>
<% end %>