<h1 style="text-decoration:underline">Director List</h1>
<%= link_to "New Director", "/directors/new" %>
<%= link_to "sort by movie count", "/directors?sort_by=count" %>
<% unless @directors.empty? %>
  <% @directors.each do |director| %>   
    <p id=<%= "index-#{director.id}" %>>
      <%= "#{director.name}" %> &nbsp&nbsp&nbsp <%= "#{director.created_at}" %>  &nbsp <%= "Movie count: #{director.movie_count}" %> &nbsp&nbsp
      <%= link_to "edit", "/directors/#{director.id}/edit" %> 
      <%= link_to "delete", "/directors/#{director.id}", method: :delete %>
    </p>
  <% end %>
<% end %>

<%= form_with url: "/directors", method: :get, data: {turbo: false}, local: true do |f| %>
  <%= f.label "Filter by name:" %>
  <%= f.text_field :find_name %>
  <%= f.label "Filter by movie count:" %>
  <%= f.text_field :find_count %>
  <%= f.submit "Search" %>
<% end %>
