<h1>New Director</h1>
<%= form_with url: "/directors", data: { turbo: false }, local: true do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Years Active" %>
  <%= f.text_field :years_active %>
  <%= f.label "Best Director" %>
  <%= f.text_field :best_director %>
  <%= f.submit "Create Director" %>
<% end %>