<!DOCTYPE html>
<html>
  <head>
    <title>Netflicks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "movies", movies_path %> &nbsp | &nbsp <%= link_to "directors", directors_path %>
    <h4><%= flash[:notice] %></h4>
    <%= yield %>
  </body>
</html>
